body {
    margin: 0;
}

.contact {
    font-family: 'Ubuntu';
    text-align: center;
    

    .liens {
        margin-top: 3.5em;
    }

    h1{
        font-size: 20px;
        margin-bottom: 1em;
    }

    img {
        width: 8%;
        height: 8%;
        margin-right: 0.8em;

    }

    a{
        color: #cc7076;
    }
}
