//base imports
@import "variables/fonts";
@import "helpers/mixins";
@import "variables/colors";


// components imports
@import "pages/header";
@import "pages/realisations";
@import "pages/footer";
@import "pages/contact";
@import "pages/login";
@import "pages/table";
@import "pages/accueil";
@import "pages/admin";
@import "pages/forms";
@import "pages/article";



body{
    
    height: 100vh;
    display: flex;
    // justify-content: space-between; //
    flex-direction: column;

}

.container {
    padding: 0;

}
h1{
    
    font-size: 40px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Sacramento';
}

.en-tete {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 20px;

} 

h4 {
    font-family: 'Ubuntu';
}




