.realisations1 {
    

    .row {
        margin: 20px 10px 10px 10px ;
    }

    .card{
        padding : 20px;
        border-style: ridge;
        border-width:2px;
    }
    
    a{
        color: $rose2;
    }
}

.realisations {
    
    p {
        text-align: center;
    }
}

