.realisations1 {
    

    .row {
        margin: 20px 10px 10px 10px ;
    }

    .card{
        padding : 20px;
        border-style: ridge;
        border-width:2px;
        margin-bottom: 5px;
    }
    
    a{
        color: $rose2;
        font-family: 'Ubuntu';
    }

    a:hover {
        font-size: 1.1em;
        color: $rose2;
    }

    p {
        font-family: 'Ubuntu';
    }

    .card-title {
        font-size: 17px;
    }
}

.realisations {
    
    p {
        text-align: center;
    }
}

